<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DB" value="RIMOST" />
    <add key="utentiVisto" value="Ribetto,Bettinsoli,Cucchiara,Gerbo,Villata,Alifredi,Barale,Capatti,Comuzio,Dalla Mariga"/>
    <add key="savePath" value="C:\Users\e-bergamin\Desktop\Bubu"/>
    <add key="saveNameFormat" value="Richiesta-[lbIdRichiesta]"/>
  </appSettings>
  <connectionStrings>
    <add name="RIMOST"
         connectionString="Data Source=10.1.21.3,1433;Network Library=DBMSSOCN;Initial Catalog=RIMOST;User ID=IRIDEW;Password=IRIDEW_2010;"/>
  </connectionStrings>


  <!--connectionStrings>
    <clear/>
    <add name="RIMOST"
         connectionString="Data Source=10.1.21.3,1433;Network Library=DBMSSOCN;Initial Catalog=RIMOST;User ID=IRIDEW;Password=IRIDEW_2010;"/>
  </connectionStrings-->
</configuration>